<ion-header>
  <ion-toolbar>
    <div class="login-logo">
      <img src="../assets/img/logoSaMoney.jpeg" alt="SaMoney logo" />
    </div>
    <ion-buttons slot="start">
      <ion-menu-button color="primary">
        <ion-icon name="home-sharp"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="aligne">
      <ion-icon name="sync-outline" color="primary"></ion-icon>
      Mes transactions
    </ion-title>
    <ion-title class="aligne1">
      <ion-icon name="timer-outline" color="primary"></ion-icon>
      Toutes mes transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h5>Transaction</h5>
  </ion-text>
</ion-content>
