<ion-header>
  <ion-toolbar>
    <div class="login-logo">
      <img src="../assets/img/logoSaMoney.jpeg" alt="SaMoney logo" />
    </div>
    <ion-buttons slot="start">
      <ion-menu-button color="primary">
        <ion-icon name="home-sharp"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="apps-outline" color="primary"></ion-icon>
      commission
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h5>Commission</h5>
  </ion-text>
</ion-content>
